<div class="row">
    <div class="col-sm-3 col-lg-3">
        <ul class="side">
            <li *ngFor="let sery of series" class="mb-2">
                <a href="javascript:;" (click)="selectedSeries(sery);" class="mt-2 mb-2 h4">
                    <svg *ngIf="!sery.open" class="bi bi-folder-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91H9v1H2.826a2 2 0 01-1.991-1.819l-.637-7a1.99 1.99 0 01.342-1.31L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3h3.982a2 2 0 011.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0013.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 011-.98h3.672a1 1 0 01.707.293z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                    </svg>
                    <svg *ngIf="sery.open" class="bi bi-folder-minus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91H9v1H2.826a2 2 0 01-1.991-1.819l-.637-7a1.99 1.99 0 01.342-1.31L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3h3.982a2 2 0 011.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0013.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 011-.98h3.672a1 1 0 01.707.293z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M11 11.5a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                      </svg>
                    <span class="ml-1">{{ sery.name }}</span>
                </a>
                <div *ngIf="sery.open">
                    <ul class="ml-n4">
                        <li *ngFor="let content of sery.list">
                            <svg width="1rem" height="1rem" viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="3" cy="2" r="0.4" stroke="black" stroke-width="1" fill="black"/>
                            </svg>
                            <a class="ml-1" href="javascript:;">{{ content.name }}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-lg-9">
        <div class="side">
            <h5 class="font-weight-bold border-bottom pb-2">{{demoDetail.name}}</h5>
            <div class="border-bottom pb-2"><i><small>版权声明：本文为博主原创文章，遵循 <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener"> CC 4.0 BY-SA </a> 版权协议，转载请附上原文出处链接和本声明。</small></i></div>
            <p>{{demoDetail.content}}</p>
            <p class="text-right mt-2 border-top pt-2"><span class="info">Post by {{demoDetail.author}} at {{demoDetail.created_at}}</span></p>
        </div>
    </div>
    <div  ></div>
</div>