<div class="nav-row content-top">
    <div class="col-md-2 mt-3">
        <ul class="list-group">
            <li class="list-group-item">Operating</li>
            <li class="list-group-item list-group-item-primary">
                <i class="fa fa-tags pull-left pt-1 mr-3" aria-hidden="true"></i>
                <a href="/auth/manage/tags">tags</a>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <i class="fa fa-file-text pull-left pt-1 mr-3" aria-hidden="true"></i>
                <a href="/auth/manage/posts">posts</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 mt-3 text-center" *ngIf="status.selected == 1">
        <div class="text-left">
            <span *ngFor="let tag of tags" class="badge badge-success p-2 mr-3">{{ tag.name }}
                <a href="javascript:;"><i class="fa fa-times pull-right point-cursor" (click)="delTag(tag.id);"></i></a>
            </span>
        </div>
        <div class="border-bottom p-2"></div>
        <div class="mt-3">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text"
                [(ngModel)]="tempTag.name"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm mb-2" id="inlineFormInput" placeholder="new tag name">
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm mb-2" (click)="newTag();">Submit</button>
              </div>
            </div>
        </div>
    </div>
</div>