.nav-bg {
  background-color: #7266ba;
  color: black;
}
nav {
  background-color: #7266ba;
}

nav a {
  background-color: #6058b5;
  padding: 1.2rem 1.0rem;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
}
nav a:visited, a:link {
  color: #dddddd;
}
nav a:hover {
  color: #ffffff;
  background-color: #6058b5;

}
nav a.active {
  color: #ffffff;
  background-color: #6051b5;
}
a {
  cursor: pointer;
  cursor: hand;
} 
.site {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
 }
.footer {
  padding: 1.0rem 0 1.0rem 0;
  text-align: center;
  color: #ffffff;
  background-color: #222222;
}
.upper {
  text-transform: uppercase;
}

