.nav-bg {
    background-color: #7266ba;
    color: black;
}
nav {
  background-color: #7258ba;
}
/*nav {
  background-color: #6051b5;
  color: #dddddd;
}*/
nav a {
  padding: 1.0rem 1.0rem;
  text-decoration: none;
  display: inline-block;
}
nav a:visited, a:link {
  color: #dddddd;
}
nav a:hover {
  color: #ffffff;
  background-color: #6051b5;
}
nav a.active {
  color: #ffffff;
  background-color: #6051b5;
}
a {
  cursor: pointer;
  cursor: hand;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
 }
.footer {
    margin-top: 14px;
    width: 100%;
    padding: 1.0rem 0 1.0rem 0;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
}
.upper {
    text-transform: uppercase;
}
.main-container {
    background-color: white;
    padding: 0 14px;
    box-shadow: 4px 4px 4px #cccccc;
}

