<!-- <app-nav></app-nav> -->
<div class="nav-row nav-border bg-primary">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light pt-4 pb-4 ml-n3 mr-n3">
        <span class="upper font-weight-bold h5">S6I's site</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav navbar-nav upper">
            <li class="nav-item nav-size">
              <a class="nav-link text-dark font-weight-bold" routerLink="/home" routerLinkActive="active">home</a>
            </li>
            <li class="nav-item nav-size">
                <a class="nav-link text-dark font-weight-bold" routerLink="/post">post</a>
            </li>
            <li class="nav-item nav-size">
                <a class="nav-link text-dark font-weight-bold" routerLink="/about">about</a>
            </li>
          </ul>
          <div *ngIf="user" class="btn-group ml-1" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <i class="point-cursor fa fa-user-circle-o mr-2" style="padding-top: 0.8rem;" data-toggle="tooltip" data-placement="bottom" title="管理员处于登陆状态"></i>
              <a id="userCenter" class="dropdown-toggle point-cursor mr-2 p-2"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="userCenter">
                <a class="dropdown-item" href="javascript:;" routerLink="/auth/manage">manage</a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)="logout();">sign out</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<router-outlet></router-outlet>