ul {
	margin: 14px 0;
	padding-left: 0;
}
.content {
	background-color: #eeeeee;
	margin: 14px 0;
	padding: 14px;
}
a {
	text-decoration: none;
	color: #5547a7;
}
h4 {
	margin: 0;
	padding: 0;
}
p {
	text-indent: 2rem;
	line-height: 1.8rem;
}
p > span {
	font-weight: bolder;
}
.side {
	background-color: #eeeeee;
	margin: 14px 0;
	padding: 14px;
}