<div class="row">
  <div class="col-sm-9 col-lx-9">
    <div class="content">
      <h3 class="text-center font-weight-bold border-bottom pb-2">{{postDetail.name}}</h3>
      <div class="border-bottom pb-2"><i><small>版权声明：本文为博主原创文章，遵循 <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener"> CC 4.0 BY-SA </a> 版权协议，转载请附上原文出处链接和本声明。</small></i></div>
      <p [innerHTML]="postDetail.content"></p>
      <div class="text-right mt-2 border-top pt-2"><span class="info">Posted by {{postDetail.author}} at {{postDetail.createdAt | date: global.POST_DATE_FORMAT}}</span></div>
    </div>
  </div>
  <div class="col-sm-3 col-lg-3">
    <div class="side">
      <div class="bg-primary font-weight-bold p-2 mb-2">相关推荐</div>
      <div class="p-1" *ngFor="let post of postList; let i =  index;"><a href="javascript:;">{{i+1}} {{ post.name }}</a></div>
    </div>
    <div class="side">
      <div class="bg-primary font-weight-bold p-2 mb-2">标签</div>
      <div class="p-1">
        <a href="javascript:;" *ngFor="let tag of tagList" class="badge badge-success p-1 mr-3">{{ tag.name }}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lx-9">
    <form class="side" id="commentForm">
      <div *ngIf="commentModel.reply" class="form-group row">
        <label for="comment" class="col-sm-3 col-form-label col-form-label-sm">Reply to: </label>
        <div class="col-sm-9">
          <input type="email" id="replyTo" [disabled]="true" class="form-control form-control-sm"
                 [(ngModel)]="commentModel.reply"
                 [ngModelOptions]="{standalone: true}">
          <a href="javascript:;" (click)="closeReply()">x</a>
        </div>
      </div>
      <div class="form-group row">
        <label for="comment" class="col-sm-3 col-form-label col-form-label-sm">Comment: *</label>
        <div class="col-sm-9">
                            <textarea type="email" id="comment" class="form-control form-control-sm"
                                      [(ngModel)]="commentModel.content"
                                      [ngModelOptions]="{standalone: true}"
                                      [ngClass]="{'is-invalid': status.isInvalid_content}"
                                      placeholder="请输入您的评论" required></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label col-form-label-sm">User Name: *</label>
        <div class="col-sm-9">
          <input type="text" id="username" class="form-control form-control-sm"
                 placeholder="贵姓？"
                 [(ngModel)]="commentModel.username"
                 [ngModelOptions]="{standalone: true}"
                 [ngClass]="{'is-invalid': status.isInvalid_username}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label col-form-label-sm">Email: *</label>
        <div class="col-sm-9">
          <input type="email" id="email" class="form-control form-control-sm"
                 placeholder="您的email"
                 [(ngModel)]="commentModel.email"
                 class="form-control form-control-sm"
                 [ngModelOptions]="{standalone: true}"
                 [ngClass]="{'is-invalid': status.isInvalid_email}" required>
        </div>
      </div>
      <input type="submit" class="btn btn-outline-primary btn-sm mb-2 mt-1" value="Submit" (click)="submitComment()">
    </form>
  </div>
  <div class="col-sm-9 col-lx-9">
    <div class="side">
      <div *ngFor="let comment of commentList; let i =  index;" class="border-bottom pb-1 mb-2">
        <span class="text-muted">#{{i+1}}</span>
        <!--<div *ngIf="comment.reply">-->
          <!--<span>Reply:{{comment.reply}}</span>-->
          <span class="font-weight-bold"> {{ comment.username }}</span>
          <span class="mr-3 font-weight-bold">:</span>
          <span>{{ comment.content }}</span>
          <a href="javascript:;" class="ml-3" (click)="replyComment(comment.username)">Reply</a>
        <!--</div>-->
        <p class="text-right comment-p">Posted at {{ comment.createdAt | date: global.POST_DATE_FORMAT }}</p>
      </div>
    <div>
  </div>
</div>
