<div class="nav-row mt-2">
    <div class="col-md-2"></div>
    <div class="col-md-6 mt-2">
        <input [(ngModel)]="model.postTitle" maxlength="100" class="form-control form-control mb-2" type="text" placeholder="请输入文章标题">
        <ckeditor *ngIf="isBrowser" [(ngModel)]="model.postContent" [config]="config" [editor]="Editor"></ckeditor>
        <div class="mt-2">
            <button class="btn btn-sm btn-primary" (click)="confirmHandler();">提交</button>
            <button class="btn btn-sm btn-secondary ml-2" (click)="cancelHandler();">放弃</button>
        </div>
    </div>
    <div class="col-md-2 mt-2">
        <a href="/auth/manage" class="btn btn-success btn-sm btn-block">create new tag<i class="fa fa-plus-circle ml-2" aria-hidden="true"></i></a>
        <div class="text-left mt-2 mb-2 pb-2 border-bottom">
            <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="clcik to selecting" *ngFor="let tag of tags" (click) = "selectedTag(tag)"><span class="badge badge-info p-1 mr-3">{{ tag.name }}</span></a>
        </div>
        <div class="text-left mb-2">
            <span *ngFor="let tag of selectedTags" class="badge badge-info p-1 mr-3">{{ tag.name }}
                <a href="javascript:;" (click) = "unSelect(tag)"><i data-toggle="tooltip" data-placement="bottom" title="clcik to unselect" class="fa fa-times pull-right point-cursor"></i></a>
            </span>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>