<div class="pt-3">
  <span class="h1 greeting">{{title}}</span>
</div>
<nav *ngIf="user" class="mb-2 mt-2">
  <ul>
    <li><i style="cursor: pointer;">Welcome, <span class="text-success">{{user.userName}}</span></i>
      <ul *ngIf="user.verify">
        <li><a routerLink = "/auth">manage</a></li>
        <li><a href="javascript:;" (click)="signout();">logout</a></li>
      </ul>   
      <ul *ngIf="!user.verify">
        <li><a routerLink = "/auth/login">login</a></li>
      </ul>   
    </li>
  </ul>
</nav>
<span>
  <small><i class="ml-3">{{ words }}</i></small>
</span>