<div class="nav-row content-top">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <ul class="list-group mt-3 list-group-flush">
            <li class="list-group-item shadow-sm mb-3 row border-0" *ngFor="let post of posts">
              <div class="col-md-12 p-0 h5 font-weight-bold"><span>{{post.title}}</span></div>
               <div class="col-md-12 p-0" *ngIf="post.cover && post.cover.length > 0">
                <img class="img-fluid rounded img-thumbnail" src="{{post.cover}}">
               </div>
              <div class="p-0 col-md-12" ><!--[innerHTML] = "blog-detail.preview"-->
                {{post.preview}}<a class="upper ml-2 text-primary" routerLink="/post/{{post.post_id}}" href="javascript:;">read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </div>
              <div class="col-md-12 border mt-2 p-2">
                <span>{{post.author}}</span>
                <span class="ml-3">{{post.created_at}}</span>
                <span class="ml-3"><i class="fa fa-comment mr-1"></i>26</span>
              </div>
            </li>
          </ul>
    </div>
    <div class="col-md-2">
      <div class="shadow-sm mt-3 p-2">
        <div class="bg-success p-2">浏览最多</div>
        <div *ngFor="let hot of hots; let i = index" class="border-bottom mt-2 mb-2 pb-2 h6"><span class="mr-2">{{i+1}}</span><a href="javascript:;" routerLink="/post/{{hot.post_id}}">{{ hot.name }}</a></div>
      </div>
      <div class="shadow-sm mt-3 p-2">
        <div class="bg-secondary mt-2 mb-1 p-2">内容标签</div>
        <div class="mt-2 pb-2 border-bottom">
          <span *ngFor="let tag of tags" class="badge badge-info p-1 mr-3">{{ tag.name }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>
