/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .body::-webkit-scrollbar { width: 0 !important }
.body { overflow: -moz-scrollbars-none; }
.body { -ms-overflow-style: none; } */

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
 }
.footer {
    margin-top: 14px;
    width: 100%;
    padding: 1.2rem 0 1.2rem 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}
.upper {
	text-transform: uppercase;
}
.nav-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.navbar-fixed-top {
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.content-top {
    margin-top: 86px;;
}