/* Global Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 250%;*/
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
  background-color: #eeeeee;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
/* Navigation link styles */

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  padding-left: 0;
}

p {
  margin: 8px 0 0 0;
}

.content-top {
    margin-top: 14px;;
}

.m {
  margin: 10px;
}
.m-2{
  margin: 12px;
}

.m-3 {
  margin: 14px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 18px;
}

.m-l {
  margin-left: 10px;
}
.m-l-2 {
  margin-left: 12px;
}
.m-l-3 {
  margin-left: 14px;
}
.m-l-4 {
  margin-left: 16px;
}
.m-l-5 {
  margin-left: 18px;
}

.m-r {
  margin-right: 10px;
}
.m-r-2 {
  margin-right: 12px;
}
.m-r-3 {
  margin-right: 14px;
}
.m-r-4 {
  margin-right: 16px;
}
.m-r-5 {
  margin-right: 18px;
}

.m-t {
  margin-top: 10px;
}
.m-t-2 {
  margin-top: 12px;
}
.m-t-3 {
  margin-top: 14px;
}
.m-t-4 {
  margin-top: 16px;
}
.m-t-5 {
  margin-top: 18px;
}

.m-b {
  margin-bottom: 10px;
}
.m-b-2 {
  margin-bottom: 12px;
}
.m-b-3 {
  margin-bottom: 14px;
}
.m-b-4 {
  margin-bottom: 16px;
}
.m-b-5 {
  margin-bottom: 18px;
}

.font-weight {
  font-weight: bold;
}

.border {
  border: 1px solid #aaa;
}

.border-2 {
  border: 2px solid #aaa;
}

.border-left {
  border-left-color: #aaa;
  border-left-width: 1px;
  border-left-style: solid;
}

.border-right {
  border-right-color: #aaa;
  border-right-width: 1px;
  border-right-style: solid;
}

.border-top {
  border-top-color: #aaa;
  border-top-width: 1px;
  border-top-style: solid;
}

.border-bottom {
  border-bottom-color: #aaa;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.p-t {
  padding-top: 10px;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: #7266ba;
}
.bg-success {
  background-color: #23ad44;
}
.bg-info {
  background-color: #23b7e5;
}
.bg-warning {
  background-color: #fad733;
}
.bg-danger {
  background-color: #ee3939;
}
.bg-dark {
  background-color: #2f3342;
}
.bg-black {
  background-color: #131e25;
}

.text-primary {
  color: #7266ba;
}
.text-success {
  color: #23ad44;
}
.text-info {
  color: #23b7e5;
}
.text-warning {
  color: #fad733;
}
.text-danger {
  color: #ee3939;
}
.text-dark {
  color: #2f3342;
}
.text-black {
  color: #131e25;
}