<div class="nav-row">
    <div class="col-md-2"></div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <div class="shadow-sm mt-3 p-2">
        <div class="bg-info rounded p-2">最近发布</div>
        <div *ngFor="let rr of receive; let i = index" class="border-bottom mt-2 mb-2 pb-2"><span class="mr-2">{{i+1}}</span><a href="javascript:;" routerLink="/post/{{rr.post_id}}">{{ rr.name }}</a></div>
      </div>
      <div class="shadow-sm mt-3 p-2">
        <div class="bg-secondary rounded p-2">最近留言</div>
        <div class="border-bottom mt-2 mb-2 pb-2">
            游客1：阿大话萨斯加的那可技能大赛
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>